body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: beige;

  > * {
    padding: 8px;
  }
}

fieldset {
  width: max-content;
  background-color: aliceblue;
}

label {
  width: max-content;
}